<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/logo.png"
    >
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex'
})
</script>
