<template>
  <q-page class="flex flex-center">
    {{ trans('Redirecting') }}
  </q-page>
</template>
<script>

export default {
  name: 'RedirectPage',
  computed: {
    action () {
      return this.$route.query.action
    },
    params () {
      const query = { ...this.$route.query }

      delete query.action

      return query
    }
  },
  created () {
    const to = { name: this.action, query: this.params }

    try {
      this.$router.resolve(to)
      this.$router.replace(to)
    } catch (e) {
      this.notify(this.trans('Route not found'), 'negative')
      this.$router.replace(this.$config.defaultRoute)
    }
  }
}
</script>
